<!DOCTYPE html>
<html lang="en">
 
 <head>

    <!-- Link to the Bootstrap CSS from a CDN -->
    
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"
          rel="stylesheet">
  
</head>
 
<body>
  
<div class="container">

      <div class="header">

        <h3 class="text-muted">Contact Form - Django Forms example</h3>

      </div>
       
<div class="row" style="padding:20px;">
       <!-- Include the form template -->
       {% include "contact_form/form.html" %}
   </div>

 </div>
 
 </body>
</html>



